astrobox==0.1.2
atomicwrites==1.4.0
attrs==19.3.0
colorama==0.4.3
more-itertools==8.2.0
packaging==20.3
Pillow==7.1.1
pluggy==0.13.1
py==1.8.1
pygame==1.9.6
pyparsing==2.4.7
pytest==5.4.2
robogame-engine==0.8.2
simple-draw==2.6.6
six==1.14.0
style==1.1.0
termcolor==1.1.0
wcwidth==0.1.9